*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:1s;
    background-size:cover;
    background-position:center;
}

/* SUNNY */

body.clear{
    background:
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
    url('https://images.unsplash.com/photo-1501973801540-537f08ccae7b');
}

/* CLOUDY */

body.clouds{
    background:
    linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url('https://images.unsplash.com/photo-1534088568595-a066f410bcda');
}

/* RAIN */

body.rain{
    background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('https://images.unsplash.com/photo-1519692933481-e162a57d6721');
}

/* FOG */

body.mist{
    background:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url('https://images.unsplash.com/photo-1485236715568-ddc5ee6ca227');
}

/* DEFAULT */

body{
    background:
    linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url('https://images.unsplash.com/photo-1506744038136-46273834b3fb');
}

.container{
    width:90%;
    max-width:500px;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(10px);
    border-radius:25px;
    padding:30px;
    text-align:center;
    color:white;
    box-shadow:0 8px 32px rgba(0,0,0,0.3);
}

h1{
    margin-bottom:20px;
    font-size:40px;
}

form{
    display:flex;
    gap:10px;
    margin-bottom:25px;
}

input{
    flex:1;
    padding:14px;
    border:none;
    border-radius:10px;
    font-size:16px;
    outline:none;
}

button{
    padding:14px 20px;
    border:none;
    border-radius:10px;
    background:#00bfff;
    color:white;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

button:hover{
    background:#009acd;
    transform:scale(1.05);
}

.weather-card{
    animation:fadeIn 1s ease;
}

.weather-icon{
    width:120px;
    margin:15px 0;
}

.weather-card h2{
    font-size:36px;
    margin-bottom:10px;
}

.weather-card p{
    font-size:20px;
    margin:10px 0;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}